.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 1rem;
  }

  .header-title {
    text-transform: capitalize;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    margin-left: auto;

    @media screen and (max-width: 800px) {
      display: none;
    }

    .ml-1 {
      margin-left: 1rem;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 60%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }

    .option {
      padding: 10px 15px;
    }
  }
}
